<ion-header>
  <ion-toolbar>
    <ion-title>Filer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center ion-margin-top"
    >Contact Flier</ion-row
  >
  <div class="iconsend">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-icon class="icon" name="rocket-outline" class="icon"></ion-icon>
    </ion-row>
    <ion-row class="ion-justify-content-center">Send</ion-row>
  </div>
  <ion-button expand="full" shape="round" (click)="gotoPrevPage()"
    >finish
  </ion-button>
</ion-content>
