.toolbar-title {
  display: flex;
}

.icon {
  font-size: 20vh;
}
.textdes {
  font-size: 2vw;
}
.btn {
  width: 92%;
}
.content {
  background-color: #131313;
  color: white;
  height: 43vh;
  border-radius: 20px 20px 0 0;
}

.item {
  padding: 10px;
  width:100%;
  border-radius:40px;
  text-align:center;
  display:flex;
}

.type{
  margin:0;
  padding:20px;
  background:#434343;
  border-radius:40px;
}
