<ion-header [translucent]="true">
  <meta name="color-scheme" content="light dark" />
  <ion-toolbar>
    <ion-title>
      <h1 class="ion-text-center">Flier</h1>
      <!-- <ion-icon name="chatbubbles-outline"></ion-icon> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Download</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <div class="ion-text-center">
          <ion-icon class="icon" name="cloud-download-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="content">
    <ion-row class="ion-justify-content-center">
      <ion-card class="item">
        <ion-card class="type"> </ion-card>
        <ion-text>filename.jpg</ion-text>

      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-fab class="btn" vertical="bottom" horizontal="start" slot="fixed">
    <ion-button
      color="danger"
      expand="full"
      (click)="presentAlert()"
      shape="round"
      >Cancel</ion-button
    >
  </ion-fab>
</ion-content>
