
.toolbar-title{
  display:flex;
}

.icon{
  font-size:20vh;

}
.textdes{
  font-size:2vw;
}
.btn{
  width:92%;
}
.content{
  background-color:#131313;
  color:white;
  height:45vh;
  border-radius: 20px 20px 0 0;
}

