<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="gotoPrevPage()">
      <h1><ion-icon name="chevron-back-outline"></ion-icon></h1>
    </ion-buttons>
    <ion-title>mycontact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="font">
    <ion-icon name="rocket-outline" class="icon"></ion-icon>Contact Flier
  </div>
  <ion-textarea
    class="textarea"
    color="dark"
    cols="5"
    rows="10"
    placeholder="Enter text, leave the textarea, come back, and type to clear"
    [clearOnEdit]="true"
  >
  </ion-textarea>

  <!-- <ion-button expand="full" shape="round" (click)="gotoPrevPage()"
    >Back</ion-button
  > -->

  <ion-button expand="full" shape="round" (click)="gotoContactPage()"
    >Send File</ion-button
  >
</ion-content>
